
.form-select {
    padding-top: 2px;
    font-size: 14px;   
    height: 32px !important;
    border-radius: 3px !important;
    border: 2px solid rgb(236, 236, 236);
    z-index: 999;
}

.required{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0px !important;
}

.add-btn{
    cursor: pointer;
    text-decoration: underline;
}
  
