.nav-link {
    color: black !important;
}
.nav{
    background-color: #ebebeb;
}
.important-width {
    width: 50px !important;
}

.active{
    background-color: #82bcee !important;
    color: white !important;
    margin-bottom: 0px !important;
    border-bottom: 0px !important;
}
.title{
    font-family: 'Times New Roman', Times, serif;
    color: #72a1d5;
    font-weight: 700;
}
