.inputName{
font-size: 12px;
margin-left: 40px;
}

input#photo{
    font-size: 12px;
    background-color: white;
}
.form-input-checkbox:checked{
    color: black !important;
}
.required{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0px !important;
    text-wrap: nowrap;
}
@media only screen and (max-width: 768px) {
    .required{
        text-wrap: wrap !important;
    }

}
  
